[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "==1.4.1"
joblib = "==1.0.1"
nltk = "==3.5"
numpy = "==1.18.5"
pandas = "==1.2.2"
scikit-learn = "==0.24.1"
Flask = "==1.1.2"
Bootstrap-Flask = "==1.5.1"
flask-session = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.7"
